python/scraping/.env
python/scraping/fetch_balance_dev.py
.vscode
analyzing/build
jsons/rawHistory.json
jsons/history.json
jsons/balances.json
python/visualizing/.matplotlib
python/visualizing/*.png
results/*.png
.DS_Store
jsons/status.json